<!DOCTYPE html>
<html th:replace="~{layout/default :: layout(~{::title}, ~{::section}, ~{})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Company</title>
</head>
<body>

<section class="container">

    <table class="table table-striped mb-5 mt-5">
        <caption th:text="#{company.index.caption}">Company info</caption>
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th th:text="${#strings.toUpperCase('__#{company.field.name}__')}" scope="col">NAME</th>
                <th th:text="${#strings.toUpperCase('__#{company.field.description}__')}" scope="col">DESCRIPTION</th>
                <th th:text="${#strings.toUpperCase('__#{company.field.address}__')}" scope="col">ADDRESS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${company.id}" scope="row">company id</td>
                <td th:text="${company.name}">company name</td>
                <td th:text="${company.description}">company description</td>
                <td th:text="${company.address}">company address</td>
            </tr>
        </tbody>
    </table>

    <template th:replace="~{component/ad_list :: table}"></template>
</section>

</body>
</html>