<!DOCTYPE html>
<html th:replace="~{layout/default :: layout(~{::title}, ~{::section}, ~{})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Company List</title>
</head>
<body>

<section class="container">

    <div class="row justify-content-end mb-3 mt-5">
        <a th:text="#{link.create}" th:href="@{add}" href="#" class="btn btn-primary">Create new</a>
    </div>

    <div class="row">
        <table class="table table-striped">
            <caption th:text="#{company.list.caption}">Company list</caption>
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th th:text="${#strings.toUpperCase('__#{company.field.name}__')}" scope="col">NAME</th>
                <th th:text="${#strings.toUpperCase('__#{company.field.description}__')}" scope="col">DESCRIPTION</th>
                <th th:text="${#strings.toUpperCase('__#{company.field.address}__')}" scope="col">ADDRESS</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="company : ${companyList}">
                <td th:text="${company.id}" scope="row">company id</td>
                <td th:text="${company.name}">company name</td>
                <td th:text="${company.description}">company description</td>
                <td th:text="${company.address}">company address</td>
            </tr>
            </tbody>
        </table>
    </div>

</section>

</body>
</html>