<!DOCTYPE html>
<html th:replace="~{layout/default :: layout(~{::title}, ~{::section}, ~{})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category List</title>
</head>
<body>

<section class="container">

    <div class="row justify-content-end mb-3 mt-5">
        <a th:text="#{link.create}" th:href="@{add}" href="#" class="btn btn-primary">Create new</a>
    </div>

    <div class="row">
        <table class="table table-striped mb-5">
            <caption th:text="#{category.list.caption}">Category list</caption>
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th th:text="${#strings.toUpperCase('__#{category.field.name}__')}" scope="col">NAME</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categoryList}">
                <td th:text="${category.id}" scope="row">category id</td>
                <td th:text="${category.name}">category name</td>
            </tr>
            </tbody>
        </table>
    </div>

</section>

</body>
</html>