<!DOCTYPE html>
<html th:replace="~{layout/default :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ad Form</title>
</head>
<body>

<section class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col-6">
            <div class="card">
                <div class="card-header">Create new Ad</div>
                <div class="card-body">
                    <form th:action="@{/ad/save}" th:object="${ad}" action="#" method="post">

                        <div class="form-group row">
                            <label for="adId" class="col-3 col-form-label">Id</label>
                            <div class="col">
                                <input th:field="*{id}" type="text" class="form-control"
                                       id="adId" placeholder="ID" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="adName" class="col-3 col-form-label">Name</label>
                            <div class="col">
                                <input th:field="*{name}" type="text" class="form-control"
                                       id="adName" placeholder="Name" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="adContent" class="col-3 col-form-label">Content</label>
                            <div class="col">
                                <textarea th:field="*{content}" rows="3" class="form-control"
                                          id="adContent" placeholder="Content" required></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="adPhone" class="col-3 col-form-label">Phone Number</label>
                            <div class="col">
                                <input th:field="*{phoneNumber}" type="text" class="form-control"
                                       id="adPhone" placeholder="Phone Number" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="adCompany" class="col-3 col-form-label">Company</label>
                            <div class="col">
                                <select name="companyId" id="adCompany" class="form-control" required>
                                    <option th:each="company : ${companyList}"
                                            th:value="${company.id}"
                                            th:selected="${ad.company?.id} == ${company.id}"
                                            th:text="${company.name}">Company</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <a th:href="@{/company/add}" href="#" class="btn btn-outline-primary">Add new</a>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="adCategory" class="col-3 col-form-label">Category</label>
                            <div class="col">
                                <select name="categoryId" id="adCategory" class="form-control" required>
                                    <option th:each="category : ${categoryList}"
                                            th:value="${category.id}"
                                            th:selected="${ad.category?.id} == ${category.id}"
                                            th:text="${category.name}">Category</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <a th:href="@{/category/add}" href="#" class="btn btn-outline-primary">Add new</a>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>