<!DOCTYPE html>
<html th:replace="~{layout/default :: layout(~{::title}, ~{::section}, ~{})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ad</title>
</head>
<body>

<section class="container">

    <table class="table table-striped">
        <caption th:text="#{ad.index.caption}">Ad info</caption>
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th th:text="${#strings.toUpperCase('__#{ad.field.name}__')}" scope="col">NAME</th>
            <th th:text="${#strings.toUpperCase('__#{ad.field.content}__')}"  scope="col">CONTENT</th>
            <th th:text="${#strings.toUpperCase('__#{ad.field.phoneNumber}__')}"  scope="col">PHONE NUMBER</th>
            <th th:text="${#strings.toUpperCase('__#{ad.field.company}__')}"  scope="col">COMPANY</th>
            <th th:text="${#strings.toUpperCase('__#{ad.field.category}__')}"  scope="col">CATEGORY</th>
            <th th:text="${#strings.toUpperCase('__#{ad.field.publishedDate}__')}"  scope="col">PUBLISHED DATE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${ad.id}" scope="row">ad id</td>
            <td th:text="${ad.name}">ad name</td>
            <td th:text="${ad.content}">ad content</td>
            <td th:text="${ad.phoneNumber}">ad phone number</td>
            <td><a th:href="@{/company/detail/{id}(id=${ad.company.id})}"
                   th:text="${ad.company.name}" href="#">company name</a></td>
            <td><a th:href="@{/category/detail/{id}(id=${ad.category.id})}"
                   th:text="${ad.category.name}" href="#">category name</a></td>
            <td th:text="${ad.publishedDate}">ad published date</td>
        </tr>
        </tbody>
    </table>

</section>

</body>
</html>