<!DOCTYPE html>
<html th:replace="~{layout/default :: layout(~{::title}, ~{::section}, ~{})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ad</title>
</head>
<body>

<section class="container">

    <div class="card mt-5">
        <div class="card-body">
            <div class="clearfix mb-0 ">
                <h4 th:text="${ad.name}" class="card-title float-left">Card title</h4>
                <a th:text="#{link.edit}" th:href="@{/ad/edit/{id}(id=${ad.id})}" href="#" class="float-right">Edit</a>
            </div>
            <p th:text="${ad.id}" class="mb-2 font-weight-light text-muted">id</p>
            <p th:text="${{ad.publishedDate}}" class="font-weight-light text-muted mb-0">Date</p>
            <hr class="mt-0">
            <p th:text="${ad.content}" class="card-text">Some quick example text to build on the card title and make
                up the bulk of the card's content.</p>
            <p th:text="${ad.phoneNumber}" class="text-muted">phone number</p>
            <a th:href="@{/company/detail/{id}(id=${ad.company.id})}"
               th:text="'#' + ${ad.company.name}" href="#" class="card-link text-info">Company link</a>
            <a th:href="@{/category/detail/{id}(id=${ad.category.id})}"
               th:text="'#' + ${ad.category.name}" href="#" class="card-link text-info">Category link</a>
        </div>
    </div>

</section>

</body>
</html>